<product-nav></product-nav>

<div class="container">
    <form>
        <div class = "form-group">
          <div class = "input-group">
            <div class = "input-group-addon">
              <i class="fa fa-search">

              </i>
            </div>
            <input type="text" name="search" placeholder="filter" class="form-control" [(ngModel)]="filter">
          </div>
        </div>
    </form>

  <div class="table-responsive">
    <table class="table table-hover" style="width:100%">
      <thead>
        <tr>
          <th class="pointer" (click)="sort('id')">
              <i class="fa" [ngClass]="{'fa-sort': column != 'id',
              'fa-sort-asc': (column == 'id' && !isDesc),
              'fa-sort-desc': (column == 'id' && isDesc) }" aria-hidden="true"> </i>ID</th>
          <th class="pointer" (click)="sort('name')">
              <i class="fa" [ngClass]="{'fa-sort': column != 'name',
              'fa-sort-asc': (column == 'name' && !isDesc),
              'fa-sort-desc': (column == 'name' && isDesc) }" aria-hidden="true"> </i>Name</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="col-md-3">
              <input type="text" placeholder="New" name="lens_id" class="form-control" [(ngModel)]="lens_id" disabled=d isabled required>
            </td>
            <td class="col-md-5">
              <input type="text" name="lens_name" class="form-control" [(ngModel)]="lens_name" required>
            </td>
            <td class="col-md-3">
              <select name="lens_active" class="form-control" [(ngModel)]="lens_active">
                <option [ngValue]="1">Active</option>
                <option [ngValue]="0">InActive</option>
              </select>
            </td>
            <td>
              <input type="submit" class="form-control" (click)="createLensColor(lens_name, lens_active)" value="Add">
            </td>
          </tr>

        <tr *ngFor="let f of lensData | filter:filter | orderBy: {property: column, direction: direction}">

          <td class="col-md-3">
            <input type="text" name="update_lens_id" class="form-control" [(ngModel)]="f['id']" readonly="readonly" required>
          </td>
          <td class="col-md-6">
            <input type="text" name="update_lens_name" class="form-control" [(ngModel)]="f['name']" required>
          </td>
          <td class="col-md-4">
            <select name="update_lens_active" class="form-control" [(ngModel)]="f['active_flag']" required>
              <option [ngValue]="1">Active</option>
              <option [ngValue]="0">InActive</option>
            </select>
          </td>
          <td class="myTab1">
            <input type="submit" class="form-control" (click)="updateLensColor(f['id'], f['name'], f['active_flag'])" value="Update">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
