<header></header>
<div class="container">
    <div *ngIf="isSuccess" class="alert alert-info">OK</div>
    <div *ngIf="SuccessfullyCreatedUpc" class="alert alert-info">Successfully added codes</div>
    <div class="row">

        <div class="col-xs-18 col-sm-12">

            <pre>Your aim is high and to the right.
</pre>

            <ul>
                <li>
                    Product management
                    <ul>
                        <li *ngIf="dashUser">
                          Product dashboard
                          <ng-container *ngFor="let brand of dashUser.brands">
                            <li class="list"  *ngIf="brand.brand">
                              [<a target="_blank" [routerLink]="['/product', brand.brand]"> {{brand.brand}} </a>]
                            </li>
                          </ng-container>
                        </li>
                        <li *ngIf="dashUser">
                          Bust cache
                          <ng-container *ngFor="let brand of dashUser.brands">
                            <li class="list"  *ngIf="brand.brand">
                              [<a [routerLink]="['/bustCache', brand.brand]"> {{brand.brand}} </a>]
                            </li>
                          </ng-container>
                        </li>
                        <li>
                            <a (click) = showUpcCode()>Add available UPC codes</a><br>
                            <div *ngIf="!isUpcCode" class="pop">
                                <form  role="form" #form="ngForm" (ngSubmit)="createUpcCode(form)">
                                    <div class="form-group">
                                        <label for="batchname">Batch Name
                                        </label><br>
                                        <div class="col-sm-7">
                                            <input type="text" name="batchname"  [(ngModel)]="batchname" class="form-control" required>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                        <label for="available_upc_codes" class="form-label">Select file
                                        </label>
                                        <input type="file" class="file" name="available_upc_codes" id="available_upc_codes" (change)="fileUpload($event)" required>
                                        <button type="submit" value="Save" class="btn btn-primary btn-sm" style="float: right;margin-right: 10px">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a (click) = reportUpcCode()>Email UPC Code Report</a><br>
                            <div *ngIf="!isBatch" class="pop">
                                <form role="form" #f="ngForm" (ngSubmit)="upcCodeReport(f)">
                                    <div class="form-group">
                                        <label for="reportbatchname" class="form-label">Batch Name
                                        </label>
                                        <div>
                                        <select name="reportbatchname" [(ngModel)]="reportbatchname">
                                          <option *ngFor="let batch of batchName" [ngValue]="batch">{{batch}}</option>
                                        </select>
                                      </div>
                                        <button type="submit" value="Save" class="btn btn-primary btn-sm" style="float: right;margin-right: 10px">Get Report</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
