<header></header>


<div class="container" *ngIf="brand">
  <div class="row">
    <div class="col-xs-18 col-sm-12">
      <h1>
        {{brand}}
      </h1>
      <ng-container *ngIf="order">
        <h2><a>{{ order['customer']['name'] }}</a>: Order #{{ order['order_id'] }}</h2>
        <h4>Ordered at: {{ order['ordered_at'] }}</h4>

        <table class="table">
          <tr>
            <td>
              <h4>Shipping</h4>
                {{ order['shipping_address']['name'] }}<br>
                {{ order['shipping_address']['address1'] }}<br>
                {{ order['shipping_address']['address2'] || '' }}<br>
                {{ order['shipping_address']['city'] }},
                {{ order['shipping_address']['state'] }}
                {{ order['shipping_address']['zip'] }}
                {{ order['shipping_address']['country'] }}<br>
                {{ order['shipping_address']['phone'] }}<br>
              <a>edit</a>
            </td>
            <td>
              <h4>Billing</h4>
              <ng-container>
                {{ order['payment']['billing_address']['first_name'] }}
                {{ order['payment']['billing_address']['last_name'] }}<br>
                {{ order['payment']['billing_address']['address1'] }}<br>
                {{ order['payment']['billing_address']['address2'] || '' }}<br>
                {{ order['payment']['billing_address']['city'] }},
                {{ order['payment']['billing_address']['state'] }}
                {{ order['payment']['billing_address']['zip'] }}
                {{ order['payment']['billing_address']['country'] }}<br>
                {{ order['payment']['billing_address']['phone'] }}<br>
              </ng-container>
            </td>
          </tr>
        </table>
      

          <div class="container">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseOrderPricing">Pricing</a>
                  </h4>
                </div>
                <div id="collapseOrderPricing" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-2"><label class="control-label">Subtotal</label></div>
                      <div class="col-xs-10">
                        <p class="form-control-static">${{ order.totals.subtotal || 0 }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2"><label class="control-label">Shipping</label></div>
                      <div class="col-xs-10">
                        <p class="form-control-static">${{ order.totals.shipping || 0 }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2"><label class="control-label">Sales Tax</label></div>
                      <div class="col-xs-10">
                        <p class="form-control-static">${{ order.totals.total_tax || 0 }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2"><label class="control-label">Total</label></div>
                      <div class="col-xs-10"><label>${{ order.totals.total || 0 }}</label></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2"><label class="control-label">Store Credit Used</label></div>
                      <div class="col-xs-10">
                        <p class="form-control-static">${{ order.totals.store_credit_used || 0 }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-2"><label class="control-label">Order Net</label></div>
                      <div class="col-xs-10"><label>${{ order.order_net || 0 }}</label></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          
<ng-container *ngIf="order.items.eyewear.items.length">
  <h3>Eyewear Items</h3>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>&nbsp;</th>
      <th>Product</th>
      <th>Price</th>
      <th>Lens Type</th>
      <th>Status</th>
      <th>Shipment</th>
      <th>rx</th>
      <th>Action</th>
    </tr>

            <ng-container *ngFor="let item of order['items']['eyewear']['items']; let i=index">
              <tr id="{{ item.id }}">
                <td>{{ i+1 }}.</td>
                <td>{{ item['product_id'] }}: {{item.product.name}}</td>
                <td>
                  <div class="panel">
                    <div class="panel-heading">
                      <a data-toggle="collapse" href="#collapsecost{{ item.id }}">Item Pricing</a>
                    </div>
                    <div id="collapsecost{{ item.id }}" class="panel-collapse collapse">
                      <div class="panel-body">
                        <dl>
                          <ng-container *ngFor="let key of objectKeys(item['totals'])">
                            <ng-container *ngIf="key != 'transactions'">
                              <dt>{{ key }}</dt>
                              <dd>{{ item['totals'][key] }}</dd>
                            </ng-container>
                          </ng-container>
                        </dl>
                      </div>
                    </div>
                  </div>
                </td>
                <td>{{ item['lens_type'] }}</td>
                 <td>
                    <div class="panel  ">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapsestatus{{ item.id }}">Status</a>
                        </div>
                        <div id="collapsestatus{{ item.id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <dl>
                                  <ng-container *ngFor="let key of objectKeys(item['status'])">
                                    <!--<ng-container *ngIf="item['status'][key] == mapping">
                                      key
                                    </ng-container>-->
                                    <dt>{{ key }}</dt>
                                    <dd>{{ item['status'][key] }}</dd>
                                  </ng-container>

                                </dl>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="font-size: 8pt;">
                  <ng-container *ngIf="item['shipment']">
                    {{ item['shipment']['service'] }} {{ item['shipment']['tracking_number'] }}
                        <br><br>
                  </ng-container>
                </td>

                <td>
                  <ng-container *ngIf="item.rx.id != null"> 
                    {{ item.rx['rx_type'] }}<br><br>
                    <ng-container *ngIf="item.rx['rx_type'] == 'RX_CALL_DOCTOR'"> 
                            Patient Name: {{ rx['name_on_rx'] }} <br>
                            Patient DoB: {{ rx['doctor_info']['patient_dob'] }} <br>
                            Doctor: {{ rx['doctor_info']['doctor_name'] }} <br>
                            Phone: {{ rx['doctor_info']['doctor_phone'] }} <br>
                            <br>
                    </ng-container>
                    <ng-container *ngIf="item.rx['rx_type'] == 'RX_UPLOAD'">
                      <a >view uploaded rx</a><br>
                            <br>
                    </ng-container>
                          <ng-container *ngIf="item.rx.id && item.status.sent_to_lab_at != null; else elseTemplate1">
                          <table border="1" cellpadding="1" cellspacing="0">
                                  <tr>
                                      <th>&nbsp;</th>
                                      <th>SP</th>
                                      <th>CYL</th>
                                      <th>AX</th>
                                      <th>ADD</th>
                                      <th>SEG HT</th>
                                      <th>PD MONO</th>
                                  </tr>
                                  <tr>
                                      <th >OD</th>
                                      <td>{{ item.rx['right']['sphere'] || 0 }}</td>
                                      <td>{{ item.rx['right']['cylinder'] || 0 }}</td>
                                      <td>{{ item.rx['right']['axis'] || 0 }}</td>
                                      <td>{{ item.rx['right']['add'] || 0 }}</td>
                                      <td>{{ item.rx['right']['seg_height'] || 0 }}</td>
                                      <td>{{ item.rx['pd']['mono_right'] }}</td>
                                  </tr>
                                  <tr>
                                      <th>OS</th>
                                      <td>{{ item.rx['left']['sphere'] || 0 }}</td>
                                      <td>{{ item.rx['left']['cylinder'] || 0 }}</td>
                                      <td>{{ item.rx['left']['axis'] || 0 }}</td>
                                      <td>{{ item.rx['left']['add'] || 0 }}</td>
                                      <td>{{ item.rx['left']['seg_height'] || 0 }}</td>
                                      <td>{{ item.rx['pd']['mono_left'] }}</td>
                                  </tr>
                          </table>
                          <b>PD BINO</b> {{ item.rx['pd']['bino'] }}
                        </ng-container>
                    <ng-template #elseTemplate1>
                      <table border="1" cellpadding="1" cellspacing="0">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>SP</th>
                                    <th>CYL</th>
                                    <th>AX</th>
                                    <th>ADD</th>
                                    <th>SEG HT</th>
                                    <th>PD MONO</th>
                                </tr>
                                <tr>
                                    <th>OD</th>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['right']['sphere']" name="right_sphere" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['right']['cylinder']" name="right_cylinder" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['right']['axis']" name="right_axis" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['right']['add']" name="right_add" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['right']['seg_height']" name="right_seg_height" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['pd']['mono_right']" name="pd_mono_right" size="5">
                                    </td>
                                </tr>
                                <tr>
                                    <th>OS</th>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['left']['sphere']" name="left_sphere" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['left']['cylinder']" name="left_cylinder" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['left']['axis']" name="left_axis" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['left']['add']" name="left_add" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['left']['seg_height']" name="left_seg_height" size="5">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]=" item.rx['pd']['mono_left']" name="pd_mono_left" size="5">
                                    </td>
                                </tr>
                            </table>

                            <br>
                            <b>PD BINO</b>
                            <input type="text" [(ngModel)]=" item.rx['pd']['bino']" name="pd_bino" size="5">

                            <br>
                                   <input type="button"  value="Save"  (click)="saveRx(order['customer']['email'] ,item.id, brand, item.rx.id, item.rx)">
                    </ng-template>
                  </ng-container>
                </td>


                <td>
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Need</th>
                            <th>Opt In</th>
                            <th>Paid</th>
                            <th>Upcharge</th>
                        </tr>
                        <ng-container *ngIf="item['lens_type'] != 'SUN'">
                            <tr>
                                <td>high index</td>
                                <td>
                                    <ng-container *ngIf="item.rx['is_high_index'] && (item['lens_type'] == 'STANDARD_INDEX_LENS' || item['lens_type'] == 'PRG_STANDARD_LENS' || item['lens_type'] == 'PRG_HIGH_INDEX_LENS' ||item['lens_type'] == 'HIGH_INDEX_LENS') ;else noTemplate">
                                        YES
                                    </ng-container>
                                   
                                </td>
                                <td>
                                    <ng-container *ngIf="item['high_index_optin'] ;else noTemplate">
                                        YES
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="item['lens_type'] == 'HIGH_INDEX_LENS'; else noTemplate">
                                        YES
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="!item['high_index_optin'] && item['lens_type'] != 'HIGH_INDEX_LENS' && (item['lens_type'] == 'STANDARD_INDEX_LENS' || item['lens_type'] == 'PRG_STANDARD_LENS' || item['lens_type'] == 'PRG_HIGH_INDEX_LENS' ||item['lens_type'] == 'HIGH_INDEX_LENS') ; else t1">
                                            <input type="checkbox" name="force_hi_upcharge_{{ item.id }}" value="false"/> force upcharge
                                    </ng-container>
                                    <ng-template #t1>
                                        <ng-container *ngIf="item['high_index_optin'] && item['lens_type'] != 'HIGH_INDEX_LENS' && (item['lens_type'] == 'STANDARD_INDEX_LENS' || item['lens_type'] == 'PRG_STANDARD_LENS' || item['lens_type'] == 'PRG_HIGH_INDEX_LENS' ||item['lens_type'] == 'HIGH_INDEX_LENS'); else noneTemplate">
                                                Customer will be upcharged for high-index lenses
                                        </ng-container>
                                    </ng-template>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td>progressive</td>

                            <td>
                                <ng-container *ngIf= "item.rx['is_progressive'] ;else noTemplate">
                                    'YES'
                                </ng-container>
                            </td>
                            <td>YES</td>
                            <td>
                                <ng-container *ngIf="item['lens_type'].slice(0,3) == 'PRG'; else noTemplate">
                                    'YES'
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="item['lens_type'].slice(0,3) != 'PRG' && item.rx['is_progressive']; else noneTemplate">
                                        Customer will be upcharged for progressive lenses<br/>
                                        <input type="checkbox" name="skip_upcharge_{{ item.id }}" value="false"/> No upcharge
                                </ng-container>
                            </td>
                        </tr>
                        <ng-template #noneTemplate>
                                none
                            </ng-template>
                        <ng-template #noTemplate>
                                NO
                        </ng-template>
                        </thead>
                    </table>

                    <!--{% if current_user.id in blacklists['LAB_ACCESS_BLACKLIST'] %}
                        You are not allowed to process items at the lab.
                    {% else %}-->

                        <ng-container *ngIf="item['status']['cancelled_at'] != null; else elseBlock1">
                          This item was cancelled.
                        </ng-container>
                        <ng-template #elseBlock1>
                                <ng-container *ngIf="item['status']['cancelled_at'] == null && item['status']['return_authorized_at'] != null ;else elseBlock">
                                        This item was returned.
                                </ng-container>
                        </ng-template>
                        <ng-template #elseBlock>
                          <ng-container *ngIf="item['status']['sent_to_lab_at'] == null && item['lens_type'] != 'ONHAND_NON_RX_SUN_LENS' && item['lens_type'] != 'ONHAND_NO_LENS'" >
                              <!--{% for store_credit in store_credits %}-->
                              <!--<ng-container *ngIf="store_credits.length > 0">
                                 <ng-container *ngFor="let store_credit of store_credits">
                                  <input type="checkbox" name="store_credit" #store_credit value="true"/>
                                 Use $ {{ store_credit.credit_amount - store_credit.amount_used }} of credit, ID: {{ store_credit.credit_id }}<br/>
                              </ng-container>
                              </ng-container>-->
                             

                            <ng-container *ngIf="labs.length > 0">
                                <select name="lab" class="form-control" size="1" [(ngModel)]="selectedLab">
                                    <option value="">--select lab to send to --</option>
                                        <option *ngFor="let lab of labs" [ngValue]="lab">
                                            {{lab}}
                                        </option>
                                </select>
                            <!-- <ng-container *ngIf="item['status']['send_to_lab_at'] == null">
                              `{{item['status']}}
                            </ng-container> -->
                            
                            </ng-container>
                            <div style="text-align: center">
                            <input type="button" value="Send to lab"  class="btn btn-lg btn-success" (click)="sendToLab(order['order_id'], item.id, brand, selectedLab)"/>
                            </div>
                        </ng-container>
                        </ng-template>
                        



                        <ng-container *ngIf="item['status']['lab_finished_processing_at'] != null && item['status']['received_from_lab_at'] == null && item['status']['shipped_at'] == null">
                          <input type="button" 
                                   (click)="receiveFromLab(order['order_id'], item.id, brand)" value="Receive frame from lab.">
                            <br>
                        </ng-container>

                          <ng-container *ngIf="item['status']['received_by_lab_at'] != null && item['status']['lab_finished_processing_at'] == null && item['status']['received_from_lab_at'] == null && item['status']['shipped_at'] == null">
                          <input type="button" 
                                   (click)="labFinishedProcessing(order['order_id'], item.id, brand)" value="Lab is done processing order">
                            <br>
                        </ng-container>

                         <ng-container *ngIf="item['status']['sent_to_lab_at'] != null && item['status']['received_by_lab_at'] == null">
                          <input type="button" 
                                   (click)="receivedByLab(order['order_id'], item.id, brand)" value="Lab has received this frame">
                            <br>
                        </ng-container>

                        <hr>

                         <ng-container *ngIf="item['status']['return_authorized_at'] != null">
                           <a>return label</a>
                           <br/>
                        <br/>
                         </ng-container>
                       
                    

                    <div class="container-fluid">
                        <ng-container *ngIf="item['status'] == {} || item['status']['cancelled_at'] == null && item['status']['lab_finished_processing_at'] == null">
                            <!--{% if not order.get('final_sale', False) %}-->
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapseCancel{{ item.id }}">Cancellation</a>
                                        </h4>
                                    </div>
                                    <div id="collapseCancel{{ item.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="return_reason">Reason</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <select class="form-control" size="1" [(ngModel)]="selectedReasonCode">
                                                        <option value="">--select reason code-- </option>
                                                        <option *ngFor="let reason_code of CANCELLATION_REASON_CODES" [ngValue] = "reason_code">{{ reason_code }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="return_description">Description</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="return_description" [(ngModel)]="return_description" size="30">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9">
                                                    <input type="button"  class="btn btn-danger btn-xs" value="Cancel item" (click)="cancelItem(order['order_number'], item.id, brand, selectedReasonCode, return_description)"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    
                        <ng-container *ngIf="item['status']['return_authorized_at'] != null && item['status']['returned_at'] == null">
                    
                    
                            <!--{% elif 'return_authorized_at' in item['status'] and 'returned_at' not in item['status'] %}-->
                            <select name="restock" id="restock" class="form-control restock" size="1">
                                <option value="N">Not Restockable</option>
                                <option value="Y">Restockable</option>
                            </select>
                            <input type="text" class="form-control non_restock_reason" name="non_restock_reason" id="non_restock_reason" placeholder="Reason to not restock"
                                size="30">
                            <!--<input type="button" data-orderid="{{ order['order_number'] }}" data-itemid="{{ item.id }}" data-brand="{{ brand }}"
                                                       class="receive_returned_frame" value="Receive frame">-->
                            <br/>
                            <br/>
                        </ng-container>
                        <ng-container *ngIf="(item['status']['shipped_at'] != null || item['status']['received_from_lab_at'] != null) && item['status']['returned_at'] == null">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapseReturn{{ item.id }}">Return</a>
                                        </h4>
                                    </div>
                                    <div id="collapseReturn{{ item.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="return_reason">Reason</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <select name="return_reason" [(ngModel)]="return_reason" size="1" class="form-control">
                                                        <option value="">--select reason code--</option>
                                                        <option *ngFor="let reason_code of RETURN_REASON_CODES"[ngValue]="reason_code">{{ reason_code }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label for="return_description">Description</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="return_description" [(ngModel)]="return_description" size="30">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">&nbsp;</div>
                                                <div class="col-sm-9">
                                                    <input type="button" class="btn btn-danger btn-xs" value="Authorize return of item" (click)="returnItem(order['order_number'], item.id, brand, return_reason, return_description)"/>                                                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>


                    <!--{% if not order.get('final_sale', False) %}-->
                    <div class="container-fluid">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapseRefund{{ item.id }}">Refund</a>
                                    </h4>
                                </div>
                                <div id="collapseRefund{{ item.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      <ng-container *ngIf= "order['payment'] != null">
                                            <form method="POST">
                                                <div class="form-group">
                                                    <label for="return_reason">Reason</label>
                                                    <select name="return_reason" [(ngModel)]="return_reason" size="1" class="form-control">
                                                        <option value="">--select reason code--</option>
                                                        <option *ngFor="let reason_code of REFUND_REASON_CODES" [ngValue]="reason_code">{{ reason_code }}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="return_description">Description</label>
                                                    <input type="text" class="form-control" name="return_description" [(ngModel)]="return_description"
                                                           placeholder="Description">
                                                </div>
                                                <div class="form-group">
                                                    <label for="amount">Refund amount</label>
                                                    <input type="number" class="form-control" step=".01" name="amount" [(ngModel)]="amount" min="0"
                                                           placeholder="{{ item['totals']['item_net'] }}">
                                                </div>
                                                <input type="submit" class="btn btn-danger btn-xs" value="Refund" (click)="refund(order['order_number'], item.id, brand, return_reason, return_description, amount)">
                                            </form>
                                      </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        

                        <ng-container *ngIf = "order.totals.total > 0">
                        <div class="container-fluid">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapseCredit{{ item.id }}">Store Credit</a>
                                        </h4>
                                    </div>
                                    <div id="collapseCredit{{ item.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form method="POST">
                                                <div class="form-group">
                                                    <label for="reason">Reason</label>
                                                    <select name="reason" [(ngModel)]="reason" size="1" class="form-control">
                                                        <option value="">--select reason code--</option>
                                                        <option *ngFor="let reason_code of SC_REASON_CODES" [ngValue]="reason_code">{{ reason_code }}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <input type="text" class="form-control" name="description" [(ngModel)]="description"
                                                           placeholder="Description">
                                                </div>
                                                <div class="form-group">
                                                    <label for="amount">Credit amount: </label>
                                                    <input type="number" class="form-control" step=".01" name="amount" [(ngModel)]="amount"
                                                           placeholder="{{ item['totals']['item_net'] }}" min="0"
                                                           required>
                                                    <input type="hidden" name="email" value="{{ order['customer']['email'] }}">
                                                </div>
                                                <input type="submit" class="btn btn-danger btn-xs" value="Issue Credit" (click)="issueStoreCredit(order['order_number'], item.id, brand, reason, description, amount)">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-container>
                </td>
              </tr>
            </ng-container>
    </table>
            <ng-container *ngIf="order['items']['eyewear']['tracking_numbers']">
              <h3>Eyewear Shipments</h3>
              <ng-container *ngFor="let label of order['items']['eyewear']['tracking_numbers']">
                <!--{{ shipment_view.shipment(label, 'order.shipping_label', order, products, brand) }}-->
              </ng-container>
            </ng-container>        
</ng-container>


            <hr>

            <div class="container-fluid">
            <div class="row">
              <h3>Transactions</h3>
            </div>
            <ng-container *ngIf="order['payment'] != null">
              <!--{% if order['payment'] != None %}-->
              <div class="row">
                <div class="col-xs-2"><label class="control-label">Amount</label></div>
                <div class="col-xs-4">
                  <p class="form-control-static">{{ order.totals.total }}; </p>
                </div>
                <div class="col-xs-2"><label class="control-label">Refunded</label></div>
                <div class="col-xs-4">
                  <p class="form-control-static">${{ order.totals.refunds }}</p>
                </div>
              </div>

              <ng-container *ngIf="order.items.eyewear && order['items']['eyewear']['items'].length > 1">
                <!--{% if 'eyewear' in order['items'] and order['items']['eyewear']['items']|length > 1 %}-->
                <div class="row">
                  <form method="POST" class="form-inline">
                    <div class="form-group">
                      <label for="return_reason" class="control-label">Reason</label>
                      <select name="return_reason" id="return_reason" size="1">
                                        <option value="">--select reason code--</option>
                                        <!--{% for reason_code in refund_reasons %}
                                            <option value="{{ reason_code }}">{{ reason_code }}</option>
                                        {% endfor %}-->
                                    </select>
                    </div>
                    <div class="form-group">
                      <label for="return_description" class="control-label">Description</label>
                      <input type="text" class="form-control" name="return_description" id="return_description" placeholder="Description" size="30">
                    </div>
                    <div class="form-group">
                      <label for="amount" class="control-label">Refund amount</label>
                      <input type="number" class="form-control" step=".01" name="amount" id="amount" size="6">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-danger btn-xs" value="Refund">
                    </div>
                  </form>
                </div>
              </ng-container>
              <hr>
            </ng-container>

            <ng-container *ngFor="let upcharge of order.upcharges">
              <!--{% for upcharge in order['upcharges'] %}-->
              <div class="row">
                <div class="col-xs-2"><label class="control-label">Amount</label></div>
                <div class="col-xs-4">
                  <p class="form-control-static">{{ upcharge.amount }}; </p>
                </div>
                <div class="col-xs-2"><label class="control-label">Refunded</label></div>
                <div class="col-xs-4">
                  <p class="form-control-static">{{ upcharge.refunds }}</p>
                </div>
              </div>
              <ng-container *ngIf="order.items.eyewear && order['items']['eyewear']['items'].length > 1">
                <!--{% if 'eyewear' in order['items'] and order['items']['eyewear']['items']|length > 1 %}-->
                <div class="row">
                  <form method="POST" class="form-inline">
                    <div class="form-group">
                      <label for="return_reason" class="control-label">Reason</label>
                      <select name="return_reason" id="return_reason" size="1">
                                        <option value="">--select reason code--</option>
                                        <!--{% for reason_code in return_reason_codes %}
                                            <option value="{{ reason_code }}">{{ reason_code }}</option>
                                        {% endfor %}-->
                                    </select>
                    </div>
                    <div class="form-group">
                      <label for="return_description" class="control-label">Description</label>
                      <input type="text" class="form-control" name="return_description" id="return_description" size="30" placeholder="Description">
                    </div>
                    <div class="form-group">
                      <label for="amount" class="control-label">Refund amount</label>
                      <input type="number" class="form-control" name="amount" step=".01" id="amount" size="6">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-danger btn-xs" value="Refund">
                    </div>
                    <input type="hidden" name="upcharge_index" value="{{ item.id }}">
                    <hr>
                  </form>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="order['store_credit_used'] != null">
              <div class="row">
                <div class="col-xs-2"><label class="control-label">Credit Id</label></div>
                <div class="col-xs-4"><label class="control-label">Credit Available</label></div>
                <div class="col-xs-6"><label class="control-label">Actions</label></div>
              </div>
              <ng-container *ngFor="let store_credit of order['store_credit_used']">
                <div class="row">
                  <div class="col-xs-2">{{ store_credit.store_credit_id }}</div>
                  <hr>
                </div>
              </ng-container>
            </ng-container>
            </div>


            <div class="container-fluid">
              <div class="row">
                <h3>Internal notes</h3>
              </div>
              <div >
                <ng-container *ngFor="let note of order.internal_notes">
                  <div class="row">
                    <div class="col-md-1">Added:</div>
                    <div class="col-md-2">{{note.created_at | date: 'dd/MM/yyyy'}}</div>
                    <div class="col-md-1">By</div>
                    <div class="col-md-2">{{note.created_by}}</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <pre style="white-space: pre-wrap; ">{{note.message}}</pre>
                    </div>
                  </div>
                  <hr>
                </ng-container>
              </div>
              <div class="row">
                <form role="form" #f="ngForm" (ngSubmit)="addNote(f.value)" class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label">Add a note</label>
                    <textarea class="form-control" name="message" [(ngModel)]="message" style="width:500px; height:100px"></textarea>
                  </div>
                  <button type="submit">Add note</button>
                  <div id="note_status"></div>
                </form>
              </div>
            </div>

            <h3>History</h3>
            <pre>
            []
            </pre>

            <hr>
            <a>plz ignore</a>



      </ng-container>
    </div>
  </div>
</div>