<header></header>
<div class="container" *ngIf="!isSingleUser && !this.isEditUser">
    <div class="row">
        <div class="col-xs-18 col-sm-12">
            <h2>{{brand}}</h2>
            <h4>Show
                <select [(ngModel)]="selectedValue">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select> Entries
            </h4>

            <h4 align="right">Search <input type="text" name="search" [(ngModel)]="filter"></h4>

            <table class="table table-bordered display" id="users">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr *ngFor="let user of userList | filter:filter | paginate: { itemsPerPage: selectedValue, currentPage: p }; let i = index">
                    <!-- <td><a (click)="getUserByEmail(user.email)">{{user.first_name}} {{user.last_name}}</a></td> -->
                    <td><a [routerLink]="[user.email, 'view']">{{user.first_name}} {{user.last_name}}</a></td>
                    <td>{{user.email}}</td>
                </tr>
            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>



