<!-- <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">

</div> -->
<header></header>
<div class="container" *ngIf="!isSingleUser && !this.isEditUser">
    <div class="row">
        <div class="col-xs-18 col-sm-12">
            <h1>{{brand}}</h1>
            <h2>{{brand}}</h2>
            <h4>Show
                <select [(ngModel)]="selectedValue">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select> Entries
            </h4>

            <h4 align="right">Search <input type="text" name="search" [(ngModel)]="filter"></h4>

            <table class="table table-bordered display" id="users">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr *ngFor="let user of userList | filter:filter | paginate: { itemsPerPage: selectedValue, currentPage: p }; let i = index">
                    <td><a (click)="getUserByEmail(user.email)">{{user.first_name}} {{user.last_name}}</a></td>
                    <td>{{user.email}}</td>
                </tr>
            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div class="container" *ngIf="isSingleUser">
    <h1>{{brand}}</h1>
    <h2>{{brand}}: {{user.first_name}}{{user.last_name}}
        <a class="btn btn-default" (click)="editUser(user.email)">Edit</a>
    </h2>

    <table class="table">
        <tr>
            <td>First Name</td>
            <td>{{user['first_name']}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{user['last_name']}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user['email']}}</td>
        </tr>
        <tr>
            <td>Marketing Email Optin</td>
            <td>{{user['marketing']['email_opt_in']}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{user['dob']}}</td>
        </tr>

        <tr>
            <td>Available Store Credits</td>
            <td>
                <table width="100%" cellpadding="1" cellspacing="0">
                    <tr>
                        <th>Credit Id{{user.store_credits}}</th>
                        <th>Order Id </th>
                        <th>Issued On</th>
                        <th>Credit Available</th>
                        <th>Revert Credit</th>
                    </tr>
                    <ng-container *ngIf="user.store_credits">
                        <tr *ngFor="let store_credit of user.store_credits">
                            <td>{{store_credit.credit_id}}</td>
                            <td>{{store_credit.order_id}}</td>
                            <td>{{store_credit.date_issued}}</td>
                            <td>{{store_credit.credit_amount - store_credit.amount_used}}</td>
                            <td>
                                <!--<a href='#revertModal' data-toggle='modal' data-creditid="{{store_credit.get('credit_id')}}" data-brandid="{{brand}}"
                               data-amount="{{store_credit.get('credit_amount') - store_credit.get('amount_used')}}">Revert Credit</a>-->
                            </td>
                        </tr>
                    </ng-container>

                </table>
            </td>
        </tr>


        <tr>
            <td>Addresses</td>
            <td *ngFor="let address of user.addresses">
                {{address['name']}}<br> {{address['address1']}}
                <br> {{address['address2']}}
                <br> {{address['city']}}, {{address['state']}} {{address['zip']}}<br> {{address['country']}}
                <br> {{address['phone']}}
                <br>
                <hr>
            </td>
        </tr>



        <tr>
            <td>Rx</td>
            <ng-container *ngIf="user.rx.length">
                <tr *ngFor="let rx of user.rx">
                    <!--{% for rx in user['rx'] %}-->
                    <td>
                        <b>{{rx['friendly_name']|| 'no name'}}</b><br><br> {{rx['rx_type']}}

                        <br>
                        <div *ngIf="rx['rx_type'] == 'RX_CALL_DOCTOR'">
                            Patient DoB: {{rx['doctor_info']['patient_dob'] }} <br> Doctor: {{rx['doctor_info']['doctor_name']
                            }} <br> Phone: {{rx['doctor_info']['doctor_phone'] }} <br>
                            <br>
                        </div>
                        <!--{% if rx['rx_type'] == 'RX_UPLOAD' %}
                    <a href="{{url_for('users.uploaded_rx', brand=brand, email=user['email'], rx_file=rx['rx_file'])}}">view uploaded rx</a><br>
                    <br>
                {% endif %}-->

                        <table border="1" cellpadding="1" cellspacing="0">
                            <tr>
                                <th>&nbsp;</th>
                                <th>SP</th>
                                <th>CYL</th>
                                <th>AX</th>
                                <th>ADD</th>
                                <th>SEG HT</th>
                                <th>PD MONO</th>
                            </tr>
                            <tr>
                                <th>OD</th>
                                <td>{{rx['right']['sphere'] || 0}}</td>
                                <td>{{rx['right']['cylinder'] || 0}}</td>
                                <td>{{rx['right']['axis']|| 0}}</td>
                                <td>{{rx['right']['add'] || 0}}</td>
                                <td>{{rx['right']['seg_height'] || 0 }}</td>
                                <td>{{rx['pd']['mono_right']}}</td>
                            </tr>
                            <tr>
                                <th>OS</th>
                                <td>{{rx['left']['sphere'] || 0}}</td>
                                <td>{{rx['left']['cylinder'] || 0}}</td>
                                <td>{{rx['left']['axis'] || 0}}</td>
                                <td>{{rx['left']['add'] || 0}}</td>
                                <td>{{rx['left']['seg_height'] || 0}}</td>
                                <td>{{rx['pd']['mono_left'] }}</td>
                            </tr>
                        </table>
                        <b>PD BINO</b> {{rx['pd']['bino']}}
                        <hr>
                    </td>
                </tr>
            </ng-container>
        </tr>


        <tr>
            <td>Orders</td>
            <td>
                <div class="row">
                    <div class="col-sm-3">Order Id</div>
                    <div class="col-sm-3">Orderd At</div>
                    <div class="col-sm-3">Order Net</div>
                    <div class="col-sm-3">Discount</div>
                </div>
                <div *ngFor="let order of orders" class="row" style="border: 1px solid black">
                    <div class="col-sm-3"><a href="">{{order['order_number']}}</a></div>
                    <div class="col-sm-3">{{ order['ordered_at'] }}</div>
                    <div class="col-sm-3">{{ order.order_net }}</div>
                    <div *ngFor="let discount of order['totals']['discount_code_amounts']" class="col-sm-3">
                        {{ discount['amount_redeemed'] }} ({{ discount['discount_code'] }}) <br>
                    </div>
                </div>
            </td>
        </tr>


        <tr>
            <td>API</td>
            <td>
                <a href="">don't touch this</a>
            </td>
        </tr>
    </table>

    <!--<div id="revertModal" class="modal fade modal-lg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Revert Store Credit</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">Reason</div>
                    <div class="col-md-8"><input type="text" id="reason" name="reason" class="form-control"></div>
                </div>
                <input type="hidden" name="credit_id" id = "credit_id" value=""/>
                <input type="hidden" name="amount" id = "amount" value=""/>
                <input type="hidden" name="brand_id" id = "brand_id" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal_revert_btn">Revert Credit</button>
            </div>
        </div>
    </div>
</div>-->




    <!--{{userData.email}}-->
</div>




<div class="conrtainer" *ngIf="isEditUser && !isSingleUser">
    <h1>{{brand}}</h1>
    <div class="container">
        <h2>{{brand}}: {{user.first_name}}{{user.last_name}}
        </h2>

        <form #form="ngForm" (ngSubmit)="updateUser(form.value)">
            <table class="table">
                <tr>
                    <td>First Name</td>
                    <td><input type="text" class="form-control" name="first_name" [(ngModel)]="user.first_name" /></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" class="form-control" name="last_name" [(ngModel)]="user.last_name" /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" class="form-control" name="email" [(ngModel)]="user.email" /></td>
                </tr>
                <tr>
                    <td>Marketing Email Optin</td>
                    <td>
                        <fieldset ngModelGroup="marketing">
                            <input type="checkbox" class="input-lg" name="email_opt_in" [(ngModel)]="user.marketing.email_opt_in" />
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td><input id="dob" type="date" class="form-control" name="dob" [(ngModel)]="user.dob"></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" value="Save">
            <a (click)="cancel()" class="btn btn-default">Cancel</a>

            <a (click)="resetPassword(user.email)" class="btn btn-default">Reset Password</a>
            <div id="status"></div>
        </form>


    </div>

</div>
