<header></header>
<div class="container" *ngIf="!isSingleUser && !this.isEditUser">
    <div class="row">
        <div class="col-xs-18 col-sm-12">
            <h2>{{brand}}</h2>
            <h4>Show
                <select [(ngModel)]="selectedValue">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select> Entries
            </h4>

            <h4 align="right">Search
                <input type="text" name="search" [(ngModel)]="filter">
            </h4>

            <table class="table table-bordered display" id="users">
                <tr>
                    <th class="pointer" (click)="sort('first_name')">
                        <i class="fa" [ngClass]="{'fa-sort': column != 'first_name', 
                                            'fa-sort-asc': (column == 'first_name' && !isDesc), 
                                            'fa-sort-desc': (column == 'first_name' && isDesc) }" aria-hidden="true"> </i>Name</th>
                    <th class="pointer" (click)="sort('email')">
                        <i class="fa" [ngClass]="{'fa-sort': column != 'email', 
                                            'fa-sort-asc': (column == 'email' && !isDesc), 
                                            'fa-sort-desc': (column == 'email' && isDesc) }" aria-hidden="true"> </i>Email</th>
                </tr>
                <tr *ngFor="let user of userList | filter:filter | paginate: { itemsPerPage: selectedValue, currentPage: p } | orderBy: {property: column, direction: direction}; let i = index">
                    <td>
                        <a [routerLink]="[user.email, 'view']">{{user.first_name}} {{user.last_name}}</a>
                    </td>
                    <td>{{user.email}}</td>
                </tr>
            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>