<header></header>

<ng-container *ngIf="dashUser">

    <ng-container *ngFor="let brand of dashUser.brands">
        <ng-container *ngIf="brand.brand">

            <form method="POST">
                <h2>{{brand.brand}} (<a>packing slips</a>)</h2>
                <table class="table table-condensed table-striped">

                    <tr>
                        <th>Order</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Send Email</th>
                        <th>Print Label</th>
                        <th>&nbsp;</th>
                    </tr>
                    <ng-container *ngFor="let order of brand_orders[brand.brand]">
                        <ng-container *ngIf="order.items.home_trial_kit.items.length">
                            <tr id="{{order['order_id']}}">
                                <td>
                                    <a [routerLink]="['/orders/', brand.brand, order.order_id, 'view']">{{order['order_id']}}</a>
                                </td>
                                <td>
                                    <a>{{order['customer']['name']}}</a>
                                </td>
                                <td>{{order['ordered_at']}}</td>
                                <td>
                                    <input type="checkbox" class="send_email" value="{{order['order_id']}}" checked>
                                </td>
                                <td>
                                    <input type="checkbox" class="print_label" value="{{order['order_id']}}" checked>
                                </td>
                                <td>
                                    <input type="button" class="ship btn btn-default" value="Ship">
                                </td>
                            </tr>   
                        </ng-container>
                    </ng-container>

                </table>
            </form>
        </ng-container>
    </ng-container>
</ng-container>