<product-nav></product-nav>

<div class="container" *ngIf="!isFoundSlug && !isSuccess">
  <h1>Name</h1>
    <table class="table table-hover" id="productCollection" style="width:100%">
    <tr *ngFor="let productCollection of product_collection_list">
    <td><a [routerLink]="['/product_collection', brand, productCollection.slug]">{{productCollection.name}}</a></td>
  </tr>
    </table>
</div>

<div class="container" *ngIf="isSuccess !isFoundSlug">
  <h1>New Collection</h1>
  <form role="form" #form="ngForm" (ngSubmit)="createProductCollection(form.value)">
      <div class="form-group">
          <label class="control-label col-sm-2">Name</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" name="name" [(ngModel)]="name" required class="form-control input-xlarge">
          </div>
      </div><br><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Slug</label>
          <div class="col-sm-10">
             <input type="text" class="form-control"  name="slug" [(ngModel)]="slugValue" required class="form-control input-xlarge">
          </div>
      </div><br><br>
      <!-- <div class="form-group">
          <label class="control-label col-sm-2">Asset Groups</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" id="name" name="assets" [(ngModel)]="assets" required  class="form-control input-xlarge">
           </div>
      </div> -->
      <div class="form-group">
          <label class="control-label col-sm-2">Asset Groups</label>
          <!-- <div class="col-sm-10">
             <textarea  name="assets" [(ngModel)]="assets" required  class="form-control input-xlarge"></textarea>
          </div> -->
          <div class="col-sm-10">
          <angular2-multiselect  name="assets" [data]="assestToPass"
                              [(ngModel)]="assest"
                              [settings]="settings">
        </angular2-multiselect>
        </div>
      </div>
      <br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Template</label>
            <div class="col-sm-10">
             <input type="text" class="form-control" name="template" [(ngModel)]="template" required  placeholder="(blank for none)" class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">H1</label>
            <div class="col-sm-10">
             <input type="text" class="form-control" name="h1" [(ngModel)]="h1" required  placeholder="New Collection H1" class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Title Tag</label>
            <div class="col-sm-10">
             <input type="text" class="form-control" name="tag" [(ngModel)]="tag" required  placeholder="New Collection Title Tag" class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Meta-Description</label>
            <div class="col-sm-10">
             <input type="text" class="form-control" name="description" [(ngModel)]="description" required  placeholder="Meta Description" class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Meta-Keywords</label>
            <div class="col-sm-10">
             <input type="text" class="form-control" name="Keywords" [(ngModel)]="Keywords" required  placeholder="Meta Keywords" class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">H2</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" name="h2" [(ngModel)]="h2" required  placeholder="Collection H2" class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Rich Text Paragraph</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" name="paragraph" [(ngModel)]="paragraph" Placeholder="Rich Text Paragraph"  required  class="form-control input-xlarge">
          </div>
      </div><br><br>
      <div class="form-group">
          <label class="control-label col-sm-2">Tiles</label>
           <!-- <div class="col-sm-10">
              <input type="text" class="form-control" name="Tiles" [(ngModel)]="Tiles" Placeholder="Rich Text Paragraph"  required  class="form-control input-xlarge">
          </div> -->
          <!-- <div class="col-sm-2">

                                          <select id="product_id" name="product_id" placeholder="Select product Id" class="form-control input-xlarge" [(ngModel)]="selectedProductId">
                                            <option *ngFor="let productId of productIds" [ngValue]="productId.product_id">{{productId.product_id}}</option>
                      </select>

          </div> -->
          <div class="col-sm-10">
          <angular2-multiselect  name="product_id" [data]="productToPass"
                              [(ngModel)]="selectedProductId"
                              [settings]="settings">
        </angular2-multiselect>
        </div>
      </div><br><br>

      <div class="form-group">
      <input type="submit" class="btn btn-default" value="Save">
    </div>
  </form>
</div>


<div class="container" *ngIf="isFoundSlug && !isSuccess">
<h1>{{productCollectionData.name}}</h1>
<form role="form" #form="ngForm" (ngSubmit)="updateProductCollection(form.value)">
    <div class="form-group">
        <label class="control-label col-sm-2">Name</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" name="name" [(ngModel)]="productCollectionData.name" required class="form-control input-xlarge">
        </div>
    </div><br><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Slug</label>
        <div class="col-sm-10">
           <input type="text" class="form-control"  name="slug" readonly="readonly" [(ngModel)]="productCollectionData.slug" required class="form-control input-xlarge">
        </div>
    </div><br><br>
    <!-- <div class="form-group">
        <label class="control-label col-sm-2">Asset Groups</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" id="name" name="assets" [(ngModel)]="productCollectionData.assets" required  class="form-control input-xlarge">
         </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-sm-2">Asset Groups</label>
        <!-- <div class="col-sm-10">
           <textarea  name="assets" [(ngModel)]="assets" required  class="form-control input-xlarge"></textarea>
        </div> -->
        <div class="col-sm-10">
        <angular2-multiselect  name="assets" [data]="assestToPass"
                            [(ngModel)]="assest"
                            [settings]="settings">
      </angular2-multiselect>
      </div>
    </div>
    <br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Template</label>
          <div class="col-sm-10">
           <input type="text" class="form-control" name="template" [(ngModel)]="template" required  placeholder="(blank for none)" class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">H1</label>
          <div class="col-sm-10">
           <input type="text" class="form-control" name="h1" [(ngModel)]="productCollectionData.h1" required  placeholder="New Collection H1" class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Title Tag</label>
          <div class="col-sm-10">
           <input type="text" class="form-control" name="tag" [(ngModel)]="productCollectionData.title" required  placeholder="New Collection Title Tag" class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Meta-Description</label>
          <div class="col-sm-10">
           <input type="text" class="form-control" name="description" [(ngModel)]="productCollectionData.metaDescription" required  placeholder="Meta Description" class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Meta-Keywords</label>
          <div class="col-sm-10">
           <input type="text" class="form-control" name="Keywords" [(ngModel)]="productCollectionData.metaKeywords" required  placeholder="Meta Keywords" class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">H2</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" name="h2" [(ngModel)]="productCollectionData.h2" required  placeholder="Collection H2" class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Rich Text Paragraph</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" name="paragraph" [(ngModel)]="productCollectionData.richTextParagraph" Placeholder="Rich Text Paragraph"  required  class="form-control input-xlarge">
        </div>
    </div><br><br>
    <div class="form-group">
        <label class="control-label col-sm-2">Tiles</label>
         <!-- <div class="col-sm-10">
            <input type="text" class="form-control" name="Tiles" [(ngModel)]="Tiles" Placeholder="Rich Text Paragraph"  required  class="form-control input-xlarge">
        </div> -->
        <!-- <div class="col-sm-2">

                                        <select id="product_id" name="product_id" placeholder="Select product Id" class="form-control input-xlarge" [(ngModel)]="selectedProductId">
                                          <option *ngFor="let productId of productIds" [ngValue]="productId.product_id">{{productId.product_id}}</option>
                    </select>

        </div> -->
        <div class="col-sm-10">
        <angular2-multiselect  name="product_id" [data]="productToPass"
                            [(ngModel)]="productId"
                            [settings]="settings">
      </angular2-multiselect>
      </div>
    </div><br><br>

    <div class="form-group">
    <input type="submit" class="btn btn-default" value="Save">
  </div>
</form>
</div>
